.card{
  margin: 10rem auto;
  width: 100%;
  min-width: 30rem;
  max-width: 80rem;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin: 1rem auto;
  color: #00a8ff;
}

mat-card-header {
  margin-bottom: 2rem;
}
